[Unit]
Description=timer: Downloads & Archives the daily B3 trades data

[Service]
Type=simple
ExecStart=/root/bin/process-daily-b3-trades
KillMode=none
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
