[Unit]
Description=timer: Starts (and forgets) local headless metatrader instances

[Service]
Type=forking
ExecStart=/root/bin/start-metatraders
KillMode=none
TimeoutSec=600

[Install]
WantedBy=multi-user.target
