[Unit]
Description=timer: Starts (and forgets) local headless metatrader instances

[Service]
Type=simple
ExecStart=/root/bin/start-metatraders
KillMode=none
