[Unit]
Description=timer: Stops all metatrader instances & any headless vnc server, processing the log files

[Service]
Type=simple
ExecStart=/root/bin/stop-metatraders
KillMode=none
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
